{% extends "blog\base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">
            <h2>About Page</h2>
        </legend>
    </fieldset>
    <p>
        Hey guys, this is a sample Blog site created by Vishnu,
        <br> I'm just a amateur in programming and just learning New stuffs like django and flask if any one of you has a deep knowledge and intrest in learning new technologies and helping me in understanding these new technologies please mail me in
        the following email address <a href="mailto:vishnu4mt16cs115@gmail.com">vishnu4mt16cs115@gmail.com</a>
    </p>
</div>
<br> {% endblock content %}